@import url("https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap");
@import "tailwindcss";

html {
  font-display: swap;
}

@font-face {
  font-family: "Sanskrit";
  src: url("/fonts/Sanskrit/sansk.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gothic";
  src: url("/fonts/Gothic/Gothic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-sanskrit {
  font-family: "Sanskrit", sans-serif;
}
.font-gothic {
  font-family: "Gothic", sans-serif;
}

@layer utilities {
  .text-metal {
    @apply bg-gradient-to-r from-yellow-800 via-yellow-400 to-yellow-800 text-transparent bg-clip-text;
  }
}

.font-tagesschrift {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}
