@import "tailwindcss";

@font-face {
  font-family: "Sanskrit";
  src: url("/fonts/Sanskrit/sansk.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.font-sanskrit {
  font-family: "Sanskrit", sans-serif;
}
